<div id="site-panel" class="m-3">
    <button class="btn btn-primary" (click)="add()">Dodaj magazyn</button>
</div>
<div class="m-3">
    
<table *ngIf="warehouses.length > 0" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Adres</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let warehouse of warehouses">
        <th scope="row">{{warehouse.id}}</th>
        <td>{{warehouse.name}}</td>
        <td>{{warehouse.address}}</td>
        <td><button class="btn btn-secondary" (click)="update(warehouse)">Edytuj</button>
            <button class="btn btn-secondary ml-1">Usuń</button></td>
      </tr>
    </tbody>
  </table>
</div>
