<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand nav-link" [routerLink]="['/app/home']">
        <i class="fa fa-globe" aria-hidden="true"></i>Stany magazynowe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['categories']">Kategorie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['warehouses']">Magazyny</a>
        </li>

      </ul>
    </div>
  
  
  </nav>
  <div class="mx-4 my-2 card">
      <div class="my-2">
            <router-outlet></router-outlet>

      </div>
  </div>
